body {
  background-color: black;
}
p {
  color: white;
}
h1 {
  color: black;
  text-align: center;
}

button.course-accordion {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  font-weight: 600;
  transition: 0.4s;
  font-family: "Raleway";
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
}

/*When the button is active or mouse hovers*/
button.course-accordion.active,
button.course-accordion:hover {
  background-color: black;
}

/*button not active*/
button.course-accordion:after {
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* minus button */
button.course-accordion.active:after {
  content: "\2212";
}

div.course-panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 96%;
  font-family: "Raleway";
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.88);
}
